.contenido--quienes {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    flex-direction: column;
}

.quienessomos {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: info;
}

.imagen--contacto {
    width: 450px;
}