@media (max-width:1200px) {
    .contenido {
        flex-direction: column;
        text-align: center;
    }
    .titulo1 {
        margin-right: 0;
    }
    .contenedor__tarjetas {
        grid-template-columns: repeat(2, 1fr);
    }
    .contenido__tarjetas:hover {
        transform: scale(1.1);
    }
}

@media (max-width:750px) {
    aside {
        display: none;
    }
    .navegacion {
        flex-direction: column;
    }
    .diseño {
        display: flex;
        flex-direction: column;
    }
    .contenedor__tarjetas {
        grid-template-columns: repeat(1, 1fr);
    }
    .contenido__tarjetas:hover {
        transform: scale(1.0);
    }
    .contenedor__tarjetas--cursos {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .menu {
        display: inline;
    }
    .navegacion {
        display: none;
    }
    .btn-menu {
        background-color: red;
        padding: 12px;
        &:hover {
            padding: 12px;
        }
    }
}

@media (max-width:991px) {
    .contenido__tarjetas--section2 {
        flex-direction: column;
    }
    .contenido--quienes {
        display: flex;
        flex-direction: column;
    }
    .imagen--contacto {
        display: none;
    }
    .contenedor__tarjetas--cursos {
        grid-template-columns: repeat(2, 1fr);
    }
    .container-fluid {
        flex-direction: column;
    }
    .encabezado {
        height: 150px;
    }
    .navbar-nav {
        background-color: white;
        width: 200px;
        padding: 25px;
        text-align: center;
        @include sombras;
        margin-top: 10px;
    }
}

@media (max-width:1000px) {
    .gridpersonal {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:551px) {
    .contenido {
        flex-direction: column;
    }
}