.contenedor__tarjetas--cursos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.contenido__tarjetas--cursos {
    border-radius: 15px;
    padding: 30px;
    background-color: rgba(182, 182, 182, 0.945);
    color: black;
    height: 575px;
    display: grid;
    grid-template-rows: 35% 24% 20% 20%;
    @include fondo-letra(map-get($colors, gris), map-get($colors, negro));
}

.main--curso {
    margin-bottom: 25px;
}

.precios--cursos {
    font-size: 30px;
    text-align: center;
}