form {
    border: 2px solid black;
    padding: 20px;
    width: 100%;
}

input,
textarea,
select {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
}

textarea {
    height: 80px;
}

.check {
    width: 30px;
}

.fondo--contacto {
    background-image: url("http://www.bytescode.com/images/ArmadoPC.jpg");
}

.contenedor--contacto {
    background-color: map-get($colors, gris);
    padding: 25px;
}

.mapa {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.gridpersonal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}